/* build your own custom Bootstrap theme:
   https://themestr.app
*/
body{
    overflow-x: hidden;
}
.brand{
    color: rgb(0, 0, 0);
font-size: 1.5rem;
text-align: center;
font-family: 'Mukta', sans-serif;;
}

.navbar{
    background-color: #E1FFB1;
    margin-top: 20px;
    
 }
.imgnav{
    transform: rotate(80deg);
    height: 35px;
    width: 50px;
}
.img-text{
    margin-top: 5px;
}
.nav-item{
padding-right:30px;
}
/* Sections */


/* section 1 */
#section1{
    background-color: black;
    width: 100%;
    height: auto;
    text-align: center;
}
.head-1{
    color: white;
    padding-top: 120px;
    font-size: 60px;
    padding-left: 20px;
    font-family: 'EB Garamond', serif;
    line-height: 1.5;
    text-align: center;
}
.img{
    display: block;
    width: 100%;
    margin: 7% auto auto 10%;
   }
   button.btn{
      margin-top: 20px;
   }
   
   .circl{
       position: relative;
       height: auto;
       width: 52%;
       right: 25%;
       animation: circle 10s infinite linear;
   }
   img.main-image{
       position: relative;
       height: auto;
       width: 25%;
      left: 14%;
      }
      .butn{
        text-decoration: none;
        color: white;
      }

 /* Section 2 */
#section2{
    background-color: #f7f7f7;
    text-align: center;
}
img.group-img{
    height: auto;
    width: 65%;
    margin-top: 10%;
 }
 .head-2{
    margin-top: 20%;
    padding-bottom: 20px;
 }
 .img1{
 height: auto;
 width: 60%;
 margin:0% 0% 0% 20%;
 }
 .bg-img1{
    background-color: black;
 }
 .side-bar{
    text-align: right;
    color: white;
 }
 .img2{
    height: 20%;
    width: 51.6%;
    margin: 0% 0% 0% 25%;
 }
 .bg-img2{
    background-color: #ca680f;
 }



/* section 3 */

.section-3-Heading{
    text-align: center;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 4% 0% 0% 6%;
}
 #section3{
text-align: center;
margin-left: ;
 }
 .hr1{
margin: ;
width:50%;
 }
 .under{
 text-decoration: line-through;
 }

 .text-head-1{
text-align: left;
padding: 2% 0% 0% 3%;
font-size: 25px;
font-weight: 500;
 }
 .rating{
    text-align: left;
    padding-left: 3%;
 }
 .text-pricing{
    text-align: left;
    padding-left: 3%;
 }
.row-img-1{
    height: auto;
    width: 50%;
    border-radius: 100%;
    transition: all ease-in-out 0.3s;
}
.row-img-1:hover{
    width: 40%;
}
.box{
    border: 2px solid lightgray;
    border-radius: 10px;
    margin: 5% 20% 0% 20%;
    padding: 10% 0% 2% 0%;
    background-color: lightgray;
}
.button-add-to-cart{
    width: 95%;
    height: 20%;
    margin-top: 4%;
   background-color: red;
   color: white;
   border-color: red;
   border-radius: 20px;
}
.diwali{
    font-size: 12px;
}
.more-section3-end{
    margin: 3% 0% 0% 2%;
    text-align: center;
}
/* //section 4 features */

.watch{
    width: 49%;
}
.box1{
    background-color: black;
    padding-bottom: 0%;
    margin-top: 2.4%;

    
}
.img-bot{
    height: auto;
    width: 20%;
    border-radius: 100%;
    padding-top: 5%;
}
.para{
    color: white;
    padding-bottom: 2%;
}
.head-sec-4{
    font-size: 2.5rem;
    color: white;
    padding-bottom: 2%;
    
}
.head2-sec-4{
    padding: 5% 2% 2% 5%;
}
footer{
background-color: #E1FFB1;
}
.box2{
    margin: 2.5% 3% 3% 3%;
    background-color: #222222;
    color: white;
    font-family:'EB Garamond', serif;;
    padding: 2% 0% 1% 0%;
}
.table{
    background-color: black;
    text-align: center;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
th{
    font-size: 2rem;
}
.tbl{
    text-align: center;
    line-height: 1.9;
    background-color:black;
    width: 30%;
    margin: auto;
    padding: 2%  2% 2% 2% ;
    color: white;
}

/* animation */
@keyframes circle {
    0%{
        transform:rotate(0deg)
              
    }
    100%{
        transform:rotate(360deg)
    
    }
}

